doctype 5
html(lang='en')
  head
    
    block title
      title roka.
      meta(property='og:title', content='roka.')

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    link(rel='author', href='https://plus.google.com/102104213986872232697/')

    block meta
      meta(property='og:description', content=locals.description)
      meta(name='description', content=locals.description)
      meta(name='keywords', content='web developer, photographer')

    meta(property='og:author', content='Robert Katzki')
    meta(property='og:site_name', content='katzki.de')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{locals.url}#{page.url}')

    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png', type='image/x-icon')

    link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')

  body
    header.title
      nav
        h1.home
          a(href='/')
            img(src='/images/logo.png',alt='roka')
        
        ul
          li(class= ('journal' == page.metadata.category) && 'active', id='journalMenuItem')
            a(href='/journal/')
              span.text Journal
              span.icon.icon-newspaper
          li(class= ('photography' == page.metadata.category) && 'active', id='photographyMenuItem')
            a(href='/photography/')
              span.text Photography
              span.icon.icon-camera
          //- li(class= ('contact' == page.metadata.category) && 'active', id='contactMenuItem')
          //-   a(href='/contact/') Contact
            
        .clear
              
    #contentContainer
      block content

    footer
      section
        p.center.bold
          | Want to say hello? Don't be shy!
        p
          ul.sociallinks
            li
              a.icon.twitter(href='http://twitter.com/#!/RobertKatzki', target='_blank')
                span.icon-twitter
            li
              a.icon.facebook(href='http://www.facebook.com/robert.katzki', target='_blank')
                span.icon-facebook
            li
              a.icon.googleplus(href='https://plus.google.com/102104213986872232697', target='_blank')
                span.icon-google-plus
            li
              a.icon.xing(href='https://www.xing.com/profile/Robert_Katzki', target='_blank')
                span.icon-xing
            li
              a.icon.github(href='http://github.com/ro-ka', target='_blank')
                span.icon-github
            li
              a.icon.github(href='http://www.lastfm.de/user/rokaef', target='_blank')
                span.icon-lastfm
            li
              a.icon.github(href='https://vimeo.com/roka', target='_blank')
                span.icon-vimeo
        p.left &copy; #{ new Date().getFullYear() } Robert Katzki.
        p.right
          a(href='/impressum/') Impressum
        .clear
      .clear

    script(src='/js/rk.js')

    script.
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12181875-2']);
        _gaq.push(['_setDomainName', 'katzki.de']);
        _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
