extends layout

block title
  title roka. / #{page.title}
  meta(property='og:title', content='roka. / #{page.title}')

append meta
  meta(property='og:image', content='#{locals.url}#{page.url}photo.jpg')

block content
  article.content.photo
    
    header.withPagination
      h2 #{page.title}
      small(data-date='#{page.metadata.date}') #{page.metadata.date_formatted}
    
      - var photos = _.chain(contents.photography._.directories).map(function(item) {
      -     return item.index;
      -   }).compact().value();

      - var next = _.chain(photos).filter(function(photo) {
      -     return page.date < photo.date;
      -   }).sortBy(function(item) {
      -     return -item.date;
      -   }).last().value();

      - var prev = _.chain(photos).filter(function(photo) {
      -     return page.date > photo.date;
      -   }).sortBy(function(item) {
      -     return -item.date;
      -   }).first().value();

      .pagination
        - if (next)
          a(href='#{next.url}', title='Newer photo').next &laquo;
        - else
          span.next &laquo;

        - if (prev)
          a(href='#{prev.url}', title='Older photo').prev &raquo;
        - else
          span.prev &raquo;
      
      .clear
      
    figure.photo
      img(src='photo.jpg', alt='#{page.title}')
    
    .clear